.bg-gray {
  background: rgba(254, 196, 72, 0.1);
}

.bg-dark {
  background: var(--dark-color) !important;
}

.bg-1 {
  background: #9bd3d0;
}

.bg-2 {
  background: #f3c447;
}

.bg-3 {
  background: #feccb5;
}

.bg-4 {
  background: #92b5ff;
}

.bg-5 {
  background: #c4d38b;
}

.bg-6 {
  background: #d2ceff;
}

main {
  position: relative;
  z-index: 1;
}

/* home section */
.home-section {
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .home-section {
    padding-bottom: 70px;
  }
}

.home-section .container {
  position: relative;
  z-index: 1;
}

.home-section .home-intro h6 {
  font-weight: 600;
  color: var(--dark-color);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 0 30px;
}

@media (max-width: 767px) {
  .home-section .home-intro h6 {
    margin: 0 0 20px;
  }
}

.home-section .home-intro h1 {
  font-size: 70px;
  font-weight: 600;
  color: var(--dark-color);
  margin: 0 0 35px;
  line-height: 1;
}

@media (max-width: 1200px) {
  .home-section .home-intro h1 {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .home-section .home-intro h1 {
    margin: 0 0 25px;
    font-size: 45px;
  }
}

.home-section .home-intro h1 span {
  border-bottom: 2px solid #fec448;
}

.home-section .home-intro p {
  font-size: 20px;
}

@media (max-width: 767px) {
  .home-section .home-intro p {
    font-size: 18px;
  }
}

.home-image img {
  height: 450px;
  width: 450px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #000;
  position: relative;
  z-index: -2;
}

@media (max-width: 767px) {
  .home-image img {
    height: 300px;
    width: 300px;
  }
}

.anim-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.anim-elements .anim-element {
  position: absolute;
  font-size: 30px;
}

.anim-elements .anim-element:nth-child(1) {
  top: 12%;
  left: 15%;
  color: var(--primary-color);
  animation: aniOne 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(1) i {
  color: var(--primary-color);
}

.anim-elements .anim-element:nth-child(2) {
  bottom: 15%;
  left: 45%;
  animation: aniTwo 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(2) i {
  color: green;
}

.anim-elements .anim-element:nth-child(3) {
  bottom: 20%;
  left: 30%;
  color: var(--primary-color);
  animation: aniThree 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(3) i {
  color: cornflowerblue;
}

.anim-elements .anim-element:nth-child(4) {
  bottom: 15%;
  right: 25%;
  color: var(--primary-color);
  animation: aniFour 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(5) i {
  color: cornflowerblue;
}

.anim-elements .anim-element:nth-child(5) {
  top: 18%;
  left: 25%;
  color: var(--primary-color);
  animation: aniThree 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(4) i {
  color: darkseagreen;
}

@keyframes aniOne {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  40% {
    transform: translate(141px, 72px) rotate(75deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(145deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes aniTwo {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  40% {
    transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }
  80% {
    transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

@keyframes aniThree {
  0% {
    transform: translate(-300px, 151px) rotate(0);
  }
  100% {
    transform: translate(251px, -200px) rotate(180deg);
  }
}

@keyframes aniFour {
  0% {
    transform: translate(61px, -99px) rotate(0);
  }
  20% {
    transform: translate(4px, -190px) rotate(38deg);
  }
  60% {
    transform: translate(-263px, -164px) rotate(108deg);
  }
  100% {
    transform: translate(-1px, 0) rotate(180deg);
  }
}
