.section {
  padding: 100px 0;
  position: relative;
}

@media (max-width: 991px) {
  .section {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .section {
    padding: 60px 0;
  }
}

.about-text p {
  font-size: 18px;
}

.section-heading {
  padding-bottom: 60px;
  text-align: center;
}

@media (max-width: 991px) {
  .section-heading {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .section-heading {
    margin-bottom: 30px;
  }
}

.section-heading h3 {
  font-size: 50px;
  margin: 0;
  color: var(--dark-color);
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .section-heading h3 {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .section-heading h3 {
    font-size: 38px;
  }
}

.feature-box {
  padding: 40px;
  border: 2px solid var(--dark-color);
  box-shadow: 0 0 0 0 var(--dark-color);
  display: flex;
  transition: 0.3s box-shadow;
}

.feature-box:hover {
  box-shadow: 5px 5px 0 0 var(--dark-color);
}

@media (max-width: 767px) {
  .feature-box {
    padding: 30px;
  }
}

.feature-box .icon {
  width: 70px;
  height: 70px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--dark-color);
  background: #fff;
  color: var(--dark-color);
  font-size: 32px;
}

.feature-box .content {
  max-width: calc(100% - 70px);
  padding-left: 20px;
}

.feature-box h5 {
  font-size: 24px;
  color: var(--dark-color);
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .feature-box h5 {
    font-size: 22px;
  }
}

.feature-box p {
  margin: 0;
  color: var(--dark-color);
  font-size: 17px;
}

.feature-box-small {
  padding: 15px;
  align-items: center;
}

.feature-box-small:hover {
  box-shadow: 3px 3px 0 0 var(--dark-color);
}

.feature-box-small .icon {
  width: 50px;
  height: 50px;
}

.feature-box-small h6 {
  margin: 0;
  color: var(--dark-color);
  padding-left: 15px;
}

.feature-box .img {
  max-width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid #373737;
}

/* portfolio */
.portfolio-box .portfolio-img {
  position: relative;
  border: 2p solid var(--dark-color);
  box-shadow: 0 0 0 0 var(--dark-color);
  transition: 0.3s;
}

.portfolio-box .portfolio-img:hover {
  box-shadow: 5px 5px 0 0 var(--dark-color);
}

.portfolio-box .portfolio-text span {
  display: inline-block;
  padding: 8px 20px;
  background: rgba(255, 101, 28, 0.2);
  color: var(--dark-color);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  border-radius: 30px;
  margin-bottom: 18px;
}

.portfolio-box .portfolio-text h4 {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .portfolio-box .portfolio-text h4 {
    font-size: 26px;
    margin-bottom: 10px;
  }
}

.portfolio-box .portfolio-text .colored-btn {
  font-size: 12px;
}

/* contact */
.contact-form {
  border: 2px solid var(--dark-color);
  padding: 35px;
  background: #fff;
}

@media (max-width: 767px) {
  .contact-form {
    padding: 25px;
  }
}

.contact-form .lead {
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 30px;
}

.contact-form .form-control {
  border-radius: 0;
  border: 1px solid var(--dark-color);
  box-shadow: none;
  padding: 0.575rem 0.75rem;
}

.contact-infos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-infos li {
  display: flex;
  position: relative;
  padding-bottom: 35px;
}

.contact-infos li:last-child {
  padding-bottom: 0;
}

.contact-infos .icon {
  width: 55px;
  height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
  font-size: 25px;
}

.contact-infos h5 {
  font-size: 14px;
  margin: 0 0 5px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  letter-spacing: 2px;
}

.contact-infos p {
  margin: 0;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

/* footer */
.footer {
  background: var(--dark-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.75);
}

.footer .nav a {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.75);
}

.footer .nav a:hover i {
  color: var(--primary-color);
}

.footer .nav a + a {
  margin-left: 18px;
}
